@font-face {
  font-family: 'Kanit';
  src: url(./../fonts/Kanit/Kanit-SemiBoldItalic.ttf) format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Smooch Sans';
  src: url(./../fonts/Smooch/SmoochSans-ExtraBold.ttf)format("opentype");
  font-weight: 800;
}