@charset 'utf-8';
@import './reset.css';
@import './fonts.css';

h1{
  font-size: 3rem;
  color: teal;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}
h2{
  font-size: 3rem;
  color: red;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 800;
}