@charset 'utf-8';
@import url(./fonts.css);

h1{
  color: teal;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: bold;
}
h2{
  color: teal;
  font-family: Smooch , sans-serif;
  font-weight: 400;
}